{{ define "main"}}

<!-- grid -->
<section class="grid">
    <div class="row justify-content-between">
        <h1 class="display-2">{{.Site.Params.office.title}}</h1>

        <hr style="margin:30px 0px">

        <div class="col-md-6 my-3">
            <div class="d-flex flex-column h-100 justify-content-center">
                <h2 class="display-4">{{.Site.Params.office.title1}}</h2>
                <p>{{.Site.Params.office.description1}}</p>
            </div>
        </div>

        <div class="col-md-6 my-3 gallery">
            <img class="rounded shadow" src="./Lazarev.jpg" alt="" />
        </div>

        <hr style="margin:30px 0px">

        <div class="col-md-6 my-3 gallery">
            <img class="rounded shadow" src="./Bobrov.jpg" alt="" />
        </div>

        <div class="col-md-6 my-3">
            <div class="d-flex flex-column h-100 justify-content-center">
                <h2 class="display-4">{{.Site.Params.office.title2}}</h2>
                <p>{{.Site.Params.office.description2}}</p>
            </div>
        </div>

        <hr style="margin:30px 0px">

        <div class="col-md-6 my-3">
            <div class="d-flex flex-column h-100 justify-content-center">
                <h2 class="display-4">{{.Site.Params.office.title3}}</h2>
                <p>{{.Site.Params.office.description3}}</p>
            </div>
        </div>

        <div class="col-md-6 my-3 gallery">
            <img class="rounded shadow" src="./Ezerskaa.jpg" alt="" />
        </div>

        <hr style="margin:30px 0px">

    </div>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mt-4">
        <!-- button -->
        <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder shadow-sm"
           href="{{absLangURL ""}}{{ .Site.Params.homepage.mainButtonRef }}">{{ .Site.Params.homepage.mainButton }}</a>
    </div>
</section>
<!-- end-grid -->
{{ end}}
